/* styling intro screen */
.poke-main-div {
  justify-content: center;
  align-items: center;
}

.oak {
  margin-bottom: 1rem;
}

/* sizing the boxes for conent */
.main-row {
  justify-content: center;
  align-items: center;
}

.main {
  border: 4px solid #f4b266;
  margin: 0.25rem;
  border-radius: 1rem;
}

.poke-view {
  margin-right: 0.5rem;
}

.poke-info {
  margin-left: 0.5rem;
}

/* styling the header */
.header-row {
  background-color: #0e3b43;
  color: #f4b266;
  display: flex;
  align-items: center;
}

.icon-row {
  justify-content: space-around;
}

.header {
  align-self: center;
}

/* search bar styling */
.search-row {
  justify-content: flex-start;
  margin: 1rem;
}

.search-bar {
  outline: none;
  border: none;
  background: #0e3b43;
  color: #f4b266;
  text-shadow: 0 0 10px #0e3b43;
  border-radius: 0.25rem;
  transition: all 1s;
  letter-spacing: 0.1em;
  height: 1.5rem;
  box-shadow: 0 0 25px 0 #0e3b43;
  width: 1rem;
  opacity: 0;
}

.search-bar:focus {
  width: 15rem;
}

/* add button and page buttons */
.btn {
  background-color: #0e3b43;
  color: #f4b266;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.fa-arrow-left,
.fa-arrow-right {
  font-size: 2rem;
}

.arrow-row {
  justify-content: space-around;
}

/* img setup */
img {
  border-radius: 0.5rem;
}

.found-poke {
  padding: 0.5rem;
}

/* pokeSearch row styling */
.poke-search {
  flex-wrap: wrap;
}

/* styling hamgurber menu */
.ham-menu {
  background-color: #0e3b43;
  color: #f4b266;
  position: absolute;
  width: 12rem;
  left: 0;
  justify-content: center;
  top: 3rem;
}

ul {
  width: 10rem;
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: column;
}

/* style poke info div */
.poke-info-sheet {
  align-items: center;
}

.info-col {
  padding: 1rem;
}

.info-header {
  font-weight: bold;
  font-size: 1.5rem;
}

.poke-details {
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .poke-details {
    flex-wrap: nowrap;
  }
}

/* add animations */
.ham-set,
.ham-back,
.btn,
li,
.fa-solid {
  transition: 0.5s;
}

.ham-set:hover,
.ham-back:hover,
.btn:hover,
li:hover,
.fa-solid:hover {
  cursor: pointer;
}

.btn:hover,
li:hover {
  transform: translate(3px);
}

.fa-arrow-left:hover {
  transform: translate(-5px);
}

.fa-arrow-right:hover {
  transform: translate(5px);
}

.fa-arrow-left:active,
.fa-arrow-right:active,
.fa-minus:active,
.fa-plus:active {
  transform: translateY(-5px);
}

/* loading animation */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 85%;
  width: 100%;
  position: absolute;
}

.loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #4f000b;
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
  position: absolute;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* poke deck styling */
.poke-deck {
  align-items: center;
  flex-wrap: wrap;
}

.deck-poke-img {
  border-radius: 0.25rem;
}

.column-sixth {
  padding: 0.5rem;
}

.poke-deck-row {
  justify-content: space-around;
  align-items: center;
}
